body
	max-width: 800px
	font-family: sans-serif


header
	*
		display: inline
		color: black

	a
		text-decoration: underline
		
		&:hover
			text-decoration: none
		&:visited
			color: black


img
	&.large
		width: 600px
		