@use "colors"
	
body
	margin: 0 auto
	width: 800px
	font-family: sans-serif


header
	margin-top: 2em
	margin-bottom: 2em
	// padding-bottom: 2em

	*
		color: black
		display: inline

	hr, &>div
		display: block !important

	hr
		margin-top: 1em
	
	a
		text-decoration: none
		
		&:hover
			text-decoration: underline
		&:visited
			color: black

		

#navbar 
	float: right
	vertical-align: bottom
	

#site-title 
	float: left

	*
		font-size: 1.2em
		font-weight: bold


a
	color: black

	&:hover
		text-decoration: none
	&:visited
		color: colors.$dark-grey	


ul
	&.bulletless
		list-style-type: none
		padding-left: 0px
	li
		padding-bottom: 0.3em


img
	&.large
		width: 600px
